@{
    ViewBag.Title = "Devices";
}

<head>
  <meta name="description" content="Dashboard for displaying sensor information">
  <meta name="author" content="Xiaoyi Huang - HappyFarmer Team">
</head>

<body>
<!-- Header -->
<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      
      <!-- First Row Content-->
      <div class="row mt-5">
        <!-- Device Monitoring -->
        <div class="col-xl-6 mb-5 mb-xl-0">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Device Monitoring</h3> @ViewBag.MacAddress
                </div>
              </div>
            </div>

            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                <tr>
                  <th scope="col">Device name</th>
                  <th scope="col">ON / OFF</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <th scope="row">
                    Weather Center
                  </th>
                  <td>
                    <span class="glyphicon glyphicon-one-fine-green-dot"></span>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    Soil Moisture Sensor
                  </th>
                  <td>
                    <span class="glyphicon glyphicon-one-fine-red-dot"></span>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    Temperature Sensor
                  </th>
                  <td>
                    <span class="glyphicon glyphicon-one-fine-red-dot"></span>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    Irrigation Actuator
                  </th>
                  <td>
                    <span class="glyphicon glyphicon-one-fine-red-dot"></span>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <br><br><br><br><br>
</div>

<!-- Page content -->
<div class="container-fluid mt--7">

    <!-- Footer -->
    <footer class="footer">
      @RenderPage("~/Views/Shared/Footer.cshtml")
    </footer>
</div>

<!-- Optional JS -->
<script src="~/Content/vendor/chart.js/dist/Chart.min.js"></script>
<script src="~/Content/vendor/chart.js/dist/Chart.extension.js"></script>

</body>